$bg1: whitesmoke;
$bg2: white;
$bg3: pink;

$butStyBorder: rgba(186, 170, 170, 0.543);
$butStyBg: rgba(229, 225, 225, 0.543);
$butStyBg_act: rgba(217, 153, 57, 0.739);
$butStyShadow: rgba(136, 130, 130, 0.543);